# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcshareddata/
*.xcworkspace/xcuserdata/

# Swift Package Manager
.build/
Packages/
*.resolved

# Cocoapods
Pods/

# Local settings (API Key)
GenerativeAI-Info.plist
